<% layout("/layouts/boilerplate") %>

<div class="container mt-5 text-center">
    <h1>Something Went Wrong</h1>

    <p>
        <%= err ? err.message : "Unknown Error" %>
    </p>

    <a href="/temples" class="btn btn-dark">
        Back to Temples
    </a>
</div>