<% layout("/layouts/boilerplate") %>

<div class="container col-lg-5 mt-5">

    <div class="card shadow p-4">

        <h2 class="text-center mb-4">

            Register

        </h2>

        <form action="/register" method="POST">

            <!-- Username -->

            <div class="mb-3">

                <label class="form-label">

                    Username

                </label>

                <input
                type="text"

                name="username"

                class="form-control"

                required>

            </div>

            <!-- Email -->

            <div class="mb-3">

                <label class="form-label">

                    Email

                </label>

                <input
                type="email"

                name="email"

                class="form-control"

                required>

            </div>

            <!-- Password -->

            <div class="mb-3">

                <label class="form-label">

                    Password

                </label>

                <input
                type="password"

                name="password"

                class="form-control"

                required>

            </div>

            <button class="btn btn-warning w-100">

                Register

            </button>

        </form>

    </div>

</div>